<% content_for :page_title,  "Bienvenue" %>

<div class="section">

    <section class="section">
    <div class="container">
      <h1 class="title">De la place au texte</h1>
      <h2 class="subtitle">
        ForgetMeNot est un blog minimaliste. Parce que parfois il suffit juste d'écrire pour ne pas oublier. Ci-dessous, l'historique des derniers articles ayant été rédigés.
      </h2>
    </div>
  </section>

  <div class="container">
    <% @posts.each do |post| %>
      <div class="card">
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p class="title is-4"><%= link_to post.title, post  %></p>
          </div>
        </div>
        <div class="content">
          <%= post.content %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
